/run/saves
/build/loom-cache
/.gradle/loom-cache
/run/logs
run/downloads/log.json
run/command_history.txt
*.tmp
/run/.fabric/tmp
/run/.fabric/processedMods
/run/config
/run/journeymap
/run/mods
*.class
/build/devlibs
/build/libs
/run
/build/tmp
*.bin
